# EDA216 - Lecture 3

During the lectures and exercises we'll try out SQL-code in Jupyter
Notebooks, and to do that we begin by evaluating:

In [1]:
%load_ext sql

This time I'll use a database defined for a Stanford course:

In [2]:
%sql sqlite:///db02.db

u'Connected: None@db02.db'

Everything in the code sections is evaluated
as [Python](https://www.python.org/) code (more on that later), but
lines beginning with `%sql` will be seen as an SQL statement, and all
lines following `%%sql` will also be evaluated as SQL statements.

There is a nice SQL tutorial
on [techonthenet](https://www.techonthenet.com/sql/index.php), it's a
good place to look for details (it has information on various DBMS's).


## Joins

The following example is taken almost verbatim
from [Jennifer Widom](https://www.youtube.com/watch?v=5Myx_X2sWOI)
(with some name alterations to comply with the coding conventions I've
been using).

We have the following schema:

~~~~ {.sql}
CREATE TABLE colleges(c_name text, state text, enrollment int);
CREATE TABLE students(s_id int, s_name text, gpa real, size_hs int);
CREATE TABLE applications(s_id int, c_name text, major text, decision text);
~~~~

A typical selection:

In [ ]:
%%sql
SELECT DISTINCT s_name, major
FROM   students s, applications a
WHERE  s.s_id = a.s_id

The comma in the `FROM` clause gives us a cross join:

In [ ]:
%%sql
SELECT DISTINCT s_name, major
FROM   students s CROSS JOIN applications a
WHERE  s.s_id = a.s_id

This can be rewritten as a *inner join* on the `s_id`:

In [ ]:
%%sql
SELECT DISTINCT s_name, major
FROM   students s INNER JOIN applications a
ON     s.s_id = a.s_id

and as `INNER JOIN` is the default join operator, we can omit the
`INNER`:

In [ ]:
%%sql
SELECT DISTINCT s_name, major
FROM   students s JOIN applications a
ON     s.s_id = a.s_id

We can add conditions to our inner joins, we start with another
typical cross join:

In [ ]:
%%sql
SELECT s_name, gpa
FROM   students s, applications a
WHERE  s.s_id = a.s_id AND
       size_hs < 1000 AND
       major = 'CS' AND
       c_name = 'Stanford'

This can be rewritten to a `INNER JOIN` on the id's, and the rest of
the condition can be a `WHERE` clause:

In [ ]:
%%sql
SELECT s_name, gpa
FROM   students s JOIN applications a
ON     s.s_id = a.s_id
WHERE  size_hs < 1000 AND
       major = 'CS' AND
       c_name = 'Stanford'

but we can also put all conditions in the `ON` clause:

In [ ]:
%%sql
SELECT s_name, gpa
FROM   students s JOIN applications a
ON     s.s_id = a.s_id AND
       size_hs < 1000 AND
       major = 'CS' AND
       c_name = 'Stanford'

It will make little difference, the query engine is supposed to
optimize our queries either way.

Now let's try with three tables -- we want to see some application
information:

In [ ]:
%%sql
SELECT a.s_id, s_name, gpa, a.c_name, enrollment
FROM   applications a, students s, colleges c
WHERE  a.s_id = s.s_id AND
       a.c_name = c.c_name

We can again rewrite this as joins:

In [ ]:
%%sql
SELECT a.s_id, s_name, gpa, a.c_name, enrollment
FROM   applications a JOIN students s JOIN colleges c
ON     a.s_id = s.s_id AND
       a.c_name = c.c_name

## Some other kinds of joins

Back to our original query:

In [ ]:
%%sql
SELECT DISTINCT s_name, major
FROM   students s INNER JOIN applications a
ON     s.s_id = a.s_id

Since our two tables have the attribute `s_id` in common, we can use a
*natural join*:

In [ ]:
%%sql
SELECT DISTINCT s_name, major
FROM   students NATURAL JOIN applications

The natural join will eliminate the duplicate attributes:

In [ ]:
%%sql
SELECT *
FROM   students NATURAL JOIN applications

Observe that there's only one `s_id` in the output.

We can use natural joins with more complicated queries:

In [ ]:
%%sql
SELECT s_name, gpa
FROM   students s JOIN applications a
ON     s.s_id = a.s_id
WHERE  size_hs < 1000 AND
       major = 'CS' AND
       c_name = 'Stanford'

Once again we have a common attribute, so we can write:

In [ ]:
%%sql
SELECT s_name, gpa
FROM   students s NATURAL JOIN applications a
WHERE  size_hs < 1000 AND
       major = 'CS' AND
       c_name = 'Stanford'

Using natural join is a bit risky, since we might have other
attributes with the same name (it can easily happen over time, if we
modify our tables) -- a better way of expressing this is to use a
`JOIN` with `USING`:

In [ ]:
%%sql
SELECT s_name, gpa
FROM   students s JOIN applications a USING(s_id)
WHERE  size_hs < 1000 AND
       major = 'CS' AND
       c_name = 'Stanford'

Here we explicitly tell what attributes we want to equate.

A slightly bigger example -- we want to find all pairs with the same
Grade Point Average (GPA):

In [ ]:
%%sql
SELECT s1.s_id, s1.s_name, s1.gpa, s2.s_id, s2.s_name, s2.gpa
FROM   students s1, students s2
WHERE  s1.gpa = s2.gpa AND
       s1.s_id < s2.s_id

In [ ]:
%%sql
SELECT s1.s_id, s1.s_name, s1.gpa, s2.s_id, s2.s_name, s2.gpa
FROM   students s1 JOIN students s2 USING(gpa)
WHERE  s1.s_id < s2.s_id

## Outer joins

First an inner join to find students with applications:

In [ ]:
%%sql
SELECT s_name, s_id, c_name, major
FROM   students JOIN applications USING (s_id)

Now, assume we also want to see those students who hasn't applied, we
can do that using a *left outer join*:

In [ ]:
%%sql
SELECT s_name, s_id, c_name, major
FROM   students LEFT OUTER JOIN applications USING (s_id)

We still get the rows we got before, but now we also get rows with
`NULL`'s in the attributes from the right relation, if there is no row
in the right table which corresponds to a row in the left table (i.e.,
the `s_id` found in the `students` table has no match in the
`applications` table -- the tuples on the left are sometimes called
*dangling tuples*).

**Question:** *How can we use the `NULL`-padded rows from a left outer
join?* (there's an answer at the end)

By the way, we can omit the `OUTER` keyword:

In [ ]:
%%sql
SELECT s_name, s_id, c_name, major
FROM   students LEFT JOIN applications USING (s_id)

There is a 'natural' version of outer joins ...

In [ ]:
%%sql
SELECT s_name, s_id, c_name, major
FROM   students NATURAL LEFT JOIN applications

... but for the same reasons as for inner joins, it's better to
explicitly tell on which attribute we're joining (using `USING`).

There is a way to get the same result without inner or outer joins,
but it requires more code:

In [ ]:
%%sql
SELECT s_name, s.s_id, c_name, major
FROM   students s, applications a
WHERE  s.s_id = a.s_id
UNION
SELECT s_name, s_id, NULL, NULL
FROM   students
WHERE  s_id NOT IN (SELECT s_id
                    FROM   applications)

Seing this might help you understand what left outer join actually
returns.

Now, the opposite problem, we want to see applications with no
matching students -- of course we could just swap `students` and
`applications` in the query above, but we could also use a *right
outer join*:

In [ ]:
%%sql
SELECT s_name, s_id, c_name, major
FROM   students RIGHT JOIN applications USING (s_id)

So, right outer joins are not supported in SQLite (yet)

There is also a *full outer join*, which combines the left- and the
right outer joins:

In [ ]:
%%sql
SELECT s_name, s_id, c_name, major
FROM   students FULL JOIN applications USING (s_id)

Of the outer joins, SQLite only supports left outer, the other ones
are left out :-).

**Answer to the question above:** We can use outer joins to find
missing values, e.g., we can find the names of all studens who haven't
applied:

In [ ]:
%%sql
SELECT s_id, s_name
FROM   students LEFT JOIN applications USING (s_id)
WHERE  c_name IS NULL

We do an outer join, and see where the result is padded with `NULL`'s
(observe that we have to test it with "`IS NULL`").

**Exercise:** Find all 'spurious' applications, i.e., applications
where the student id doesn't match any student.

In [ ]:
%%sql